.Card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 7px #acb3a5;
    display: flex;
    margin: 90px auto;
    padding: 20px;
    width: 50%;

}

.Card-Container {
    width: 100%;
    margin: auto 20px;

}

.Card-Content {
    margin: 30px 100px;

}

.Card-Title {
    text-align: center;
    font-family:'Courier New';
}

.Card-Description {
    display: flex;
    justify-content: space-between;
}

.Card-Element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card-Lien {
    width: 170px;
    text-align: center;
}

.Card-Icon {
    font-size: 30px;
    transition: ease-in-out 0.5s;
}

.Card-Icon:hover {
    transform: rotate(180deg);
}