.Card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 7px #acb3a5;
    display: flex;
    margin: 90px auto;
    padding: 20px;
    width: 50%;

}

.Card-Container {
    width: 100%;
    margin: auto 20px;
}

.Card-Title {
    text-align: center;
    font-family:'Courier New';
}

.Card-Content{
    display: flex;
}

.Card-Description{
    width: 50%;
}

.Card-Description-Title