.Card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 7px #acb3a5;
    margin: 90px auto;
    padding: 20px;
    width: 50%;
}

.Card-Content {
    margin: 30px 100px;
}

.Card-Title {
    text-align: center;
    font-family:'Courier New';
}

.Card-Description {
    display: flex;
    justify-content: space-between;
}

.Card-Description--Secondary {
    display: flex;
    justify-content: center;
}

.Card-Lien {
    width: 170px;
    text-align: center;
}

.Card-Icon {
    font-size: 30px;
    transition: ease-in-out 0.5s;
}

.Card-Icon:hover {
    transform: rotate(180deg);
    color: rgb(138, 107, 153);
}

@media (max-width: 1170px) {
    .Card {
        width: 90%;
    }
    
    .Card-Content {
        margin: 0;
    }
    
    .Card-Description {
        display: block;
    }

    .Card-Lien {
        width: auto;
        margin-top: 30px;
    }
}