.Card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 7px #acb3a5;
    display: flex;
    margin: 30px auto;
    padding: 20px;
    width: 140vh;
}

.Card-Img {
    width: 45%;
    border-radius: 5%;
    object-fit: cover;
}

.Card-Content {
    width: 100%;
    text-align: justify;
    margin: auto 20px;
}

.Card-Title {
    text-align: center;
    font-family:'Courier New';
}

.Card-Description {
    margin: 30px auto;
    font-size: 15px;
}

@media (max-width: 1250px) {
    .Card {
        display: block;
        width: 80%;
        text-align: center;
    }
    
    .Card-Content {
        margin: auto 0px;
        text-align: center;
    }

    .Card-Title {
        margin-top: 10px;
    }
}