@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.NavBar {
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px #acb3a5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Poppins';
    padding: 0px 110px;
    color: black;
    z-index: 100;
}

.NavBar-title {
    font-size: 60px;
    font-family:'Ms Madi';
}

.NavBar-burger {
    position: relative;
    font-size: 30px;
    padding: 20px;
}


.NavBar-item {
    padding : 2px 7px; 
    border-radius: 3px;
}

.NavBar-item:hover {
    background-color: #acb3a5 ;
}

@media (max-width: 900px) {
    .NavBar {
        padding: 15px 30px;
        position: relative;
    }

    .NavBar-title {
        font-size: 40px;
        font-family:'Ms Madi';
    }

    .NavBar-list {
        position: absolute;
        bottom: -118px;
        right: 0;
        padding: 0 10px 10px 10px;
        width: 200px;
        background-color: white;
        box-shadow: 0px 5px 5px grey;
    }
}

@media (min-width: 900px) {
    
    .NavBar-burger {
        display: none;
    }
    
    .NavBar-list {
        display: flex;
        width: 350px;
        justify-content: space-between;
    }
}
